body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("bg.jpg");
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 180px;
  height: 140px;
  background: yellowgreen;
  opacity: 0.8;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: yellow;
  opacity: 0.8;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 80px;
  height: 50px;
  font-size: 30px;
  background: yellowgreen;
}
